.usercenter{
	position: relative;
	top:60px;
	width: 100%;
}

.user{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 90%;
	align-items: center;
	padding: 20px 5%;
	box-shadow: 10px 0 10px #ccc;
}

.userimg{
	width:30%;
}

.userimg img{
	width:70px;
	height: 70px;
	border-radius: 50%;
}

.username{
	width:70%;
}

.order{
	width: 90%;
	margin-top:30px;
	padding: 20px 5%;
	box-shadow: 10px 0 2px #ccc;
	cursor: pointer;
}

.cart{
	width: 90%;
	margin-top: 10px;
	padding: 20px 5%;
	box-shadow: 10px 0 2px #ccc;
	cursor: pointer;
}

